.logout-button {
  color: rgb(99, 87, 87);
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  border: none;
  background-color: #e6e6e7;
}

.logout-button:hover {
  color: #ef0c0c;
}
@media (max-width: 720px) {
  .logout-button {
    font-size: 10px;
  }
}
@media (max-width: 480px) {
  .logout-button {
    font-size: 9px;
  }
}
